 
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="style.css">
    <title><%= title %></title>
</head>
<body>
    <div id='container'>
        <h2>Counter Experiment</h2>
        <h3>Count: <%= count %> </h3>
        <form action="/add_one" method='POST'><input type="submit" name='add_one' value='add_one'></form>
        <form action="/add_two" method='post'><input type="submit" name='add_two' value='add_two'></form>
        <form action="/reset" method='post'><input type="submit" name='reset' value='reset'></form>
    </div>
</body>
</html>