<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Edit</title>
</head>
<body>
    <h3>Edit info</h3>
    <form action="/mongoose/<%= mGoose._id %>" method='post'>
        <label for="name">name:</label>
        <input type="text" name="name" value="<%= mGoose.name %>">
        <label for="name">age:</label>        
        <input type="text" name="age" value="<%= mGoose.age %>">
        <select name="classification" >
            <option value="Meerkat">Meerkat</option>
            <option value="Banded">Banded</option>
            <option value="Egyption">Egyption</option>
            <option value="Marsh">Marsh</option>
        </select>
        <input type="submit"> 
        <a href="/">home</a>
    </form>
   
</body>
</html>