body{
    text-align: center;
    margin: 0;
    background: url(/levi-price-35655-unsplash.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

h2{
    color: whitesmoke;
    margin: 15px;
}


#all_messages{
    width: 65vw;
    height: 75vh;
    padding: 10px;
    margin: 10px;
    overflow: scroll;
    display: inline-block;
    vertical-align: top;
    border: 1px solid dodgerblue;
    border-radius: 10px;
    background-color : grey;
    color: white;
    opacity: 0.89;
    box-shadow: 5px 5px 20px black;
}

textarea{
    width: 50vw;
    box-shadow: 2px 2px black;
    border: 1px solid dodgerblue;
    background-color: #800000;
    color: whitesmoke;
}

.btn{
    vertical-align: text-bottom;
}

p{
    color: white;
    text-align: left;
    border-radius: 5px;
    font-size: 1.25em;
}