*{
    /* border: 1px dotted black; */
    margin: 0px;
    padding: 0px;
}

img{
    margin: 0px;
    padding: 0px;
    max-width: 100%;
    max-height: 100%;
}

#wrapper{
    background-color: #255076;
    width: 970px;
}

#header{
    height: 135px;
    width: 100%;
}

#logo{
    width: 400px;
    display: inline-block;
    vertical-align: top;
    padding-top: 18px;
}
    #logo img{
      
        margin-left: 25px;
        margin-bottom: 25px;
    }

#top-right-container{
    display: inline-block;
    width: 540px;
    padding: 5px;
}

#textsize{
    height:28x;
    vertical-align: top;
}

#searchbox{
    height: 100px;
}

.white{
    line-height: 28x;
    color: white;
}

/* I realize that this class of "black" is only effecting one thjing on the page, how ever I decided to make it a class because I could imagine if this were a multi-page website or app that I would probably have other text that I would want to style black as well. */
.black{
    line-height: 28x;
    color: black;
}

#tSizerBox{
    margin-left: 320px;
    height: 32px;
    padding-top: 5px;
}
    #tSizerBox a{
        color: rgb(255, 196, 0);
        font-size: 14px;
    }

#search_go_wrapper{
    margin: 0 auto;
}

#searchbox_container{
    background-color: grey;
    width: 250px;
    height: 42px;
    box-shadow: 3px 3px;
    border-radius: 9px;
    margin-left: 288px;
    padding-top: 10px;
}

#searchbox{ 
    height: 25px; 
    margin-left: 30px;
    border: solid 2px white;
    border-style: inset;
    text-align: center;
}

#go{
    color: white;
    width: 50px;
    height: 30px;
    background-color: rgb(29, 52, 116);
    border: 2px solid rgb(212, 205, 205);
    border-style: outset;
}

#navBar{
    width: 860px;
    margin: 0 auto;
    height: 40px;
    background-color: #2c6394;
    box-shadow: 3px 3px;
    border-radius: 8px;
    padding: 10px;
    text-align: center;
}
    #navBar li{
        display: inline-block;
        font-size: 22px;
        height: 40px;
        line-height: 40px;
        padding: 0 27px;
    }
    #navBar a{
        color: white;
        text-decoration: none;
    }

#mainWrapperTop{
    width: 100%;
    border-bottom: 3px solid black;
}

#Docs_list{ 
    vertical-align: top;
    display: inline-block;
    width: 250px;
    margin: 0 auto;
    padding: 25px;
}
    #Docs_list a{
        color:white;
        line-height: 30px;
        font-size: 18px;
    }

#Docs_list ul, #first_appearing p{
    text-align: center;
}
    #Docs_list ul  li{
        list-style-position: inside;
        list-style-type: square;
        color: rgb(255, 196, 0);
    }

#first_appearing{
    color: white;
    display: inline-block;
    text-align: justify;
    vertical-align: top;
    width: 550px;
    padding: 25px;
}
    #first_appearing .motto {
        font-size: 20px;
        color: rgb(255, 196, 0);
        text-align: center;
        line-height: 38px;
        font-style: italic;
    }

h4{
    text-align: center;
    line-height: 38px;
}

#info-guide{
    background-color: white;
    width: 100%;
    padding:25px;
}

.get-app{
    width: 330px;
    display: inline-block;
    vertical-align: top;
    margin-left: 73px;
    text-align: center;
    line-height: 20px;
}

.bar{
    height: 5px;
    background-color: #3b82c0;
    display: inline-block;
    width: 380px;
    margin-left: -35px;
}

h3{
    margin-top: 5px;
}

.lightblue{
    color: rgb(53, 194, 230);
}

.get-app p span{
    color: rgb(53, 194, 230);
    font-size: 13px;
}

#footer{
    height: 115px;
    text-align: center;
    background: #2c6394; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#2c6394, #429be9); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#2c6394, #429be9); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#2c6394, #429be9); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#2c6394, #429be9); /* Standard syntax */
}
    #footer h6{
        display: inline-block;
        margin-top: 55px;

    }
    #footer a{
        font-size: 19px;
        color: rgb(157, 200, 249);
        text-decoration: none;
    }

    #footer p{
        margin-top: 20px;
    }

    #diversity{
        padding-left:30px;
        padding-right:30px; 
    }

    #copy{
        color:  rgb(157, 200, 249);
        font-size:10px;
    }